* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
  /* changing selector into head */
.head {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
 /* changing selector into head h1 */
.head h1 {
    display: inline-block;
    font-size: 48px;
}
    /* changing selector into sub-heading */
.head h1 .sub-heading {
    color: #d9dcd6;
}
/* change div into nav */
.head nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}
/* change div into nav */
.head nav ul {
    list-style-type: none;
}
/* change div into nav */
.head  nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
    /* changing selector to main-img */
.main-img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
 /* changing selector to artical1 */
.artical1-left {
    float: left;
    margin-right: 25px;
}

 /* chaning selector to artical2 */
.artical2-right {
    float: right;
    margin-left: 25px;
}
 /* chaning selector to .aritical-content */
.aritical-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* changing selector to aside-main */
.aside-main {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
    /* changing selector to aside-top */
.aside-top {
    margin-bottom: 32px;
    color: #ffffff;
}
    /* changing selector to aside-medium */
.aside-medium {
    margin-bottom: 32px;
    color: #ffffff;
}
 /* changing selector to aside-bottom */
.aside-bottom {
    margin-bottom: 32px;
    color: #ffffff;
}
/* changing selector tto aside-top h3 */
.aside-top h3 {
    margin-bottom: 10px;
    text-align: center;
}

 /* changing selector o aside-medium h3 */
.aside-medium h3 {
    margin-bottom: 10px;
    text-align: center;
}
 /* changing selector to aside-bottom h3*/
.aside-bottom h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* changing selector to aside-top img */
.aside-top img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
 /* changing selector to aside-medium img */
.aside-medium img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
 /* changing selector to aside-bottom img*/
.aside-bottom img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
 /* changing selector to artical-1 */
.artical-1{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* changing selector to artical-2 */
.artical-2 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* changing selector to artical-3 */
.artical-3{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
    /* changing selector to artical-1 */
.artical-1 img {
    max-height: 200px;
}
  /* changing selector to artical-2 img */
.artical-2 img {
    max-height: 200px;
}
/* changing selector to artical-3 img */
.artical-3 img {
    max-height: 200px;
}
    /* changing selector to artical-1 h2 */
.artical-1 h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
  /* changing selector to artical-2 h2 */
.artical-2 h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* changing selector to artical-3 h3*/
.artical-3 h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* changing selector to foot */
.foot {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
    /* changing selector to foot */
.foot h2 {
    font-size: 20px;
}
